@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


/*nesse projeto procurei usar medidas focadas em % como o EM, REM e % para melhor acessibilidade em diferentes tipos de tela*/

:root{

    /*cores*/

    --ardosia-300: hsl(212, 45%, 89%);
    --ardosia-500: hsl(216, 15%, 48%);
    --ardosia-900: hsl(218, 44%, 22%);

    /*fontes*/

    --fonte: "Outfit", sans-serif;

}

body{
    background-color: var(--ardosia-300);
    font-family: var(--fonte);
    font-size: 15px;
}

/*centraliza os elementos no meio da tela*/

div{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*define o tamanho maximo de main e alinha o texto ao meio, alem de transformar o fundo em branco*/

main{
    max-width: 20em;
    max-height: 35em;
    background-color: white;
    text-align: center;
    margin: 0em;
    padding: 1em;
}

img{
    margin: 0;
    width: 100%;
}

/*aqui como teria que deixar tanto main quanto a imagem com o mesmo border-radius tentei facilitar futuras atualizações*/

img, main{
    border-radius: 1em;
}

h1{
    color: var(--ardosia-900);
    font-weight: 700;
}

p{
    color: var(--ardosia-500);
    font-weight: 400;
}